<div th:fragment="navigation-left" >
    <div id = "menu">
        <div class="panel list-group">
            <a href="" class="list-group-item">Horaires</a>
            <a href="" class="list-group-item">Réglements</a>
            <a href="" class="list-group-item" sec:authorize="isAuthenticated()">Mon compte</a>
            <a href="" class="list-group-item" sec:authorize="isAuthenticated()">Déconnexion</a>
            <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm">Nos Livres<b class="caret" sec:authorize="isAuthenticated()"></b></a>
            <!--<div id="sm" class="sublinks collapse" sec:authorize="isAuthenticated()">
                    <a href="" >
                        <s:param name="nomCategorie">
                            <cb-cm:contentView name="categorie" view="vue_liste_categorie"/>
                        </s:param></s:url>" class="list-group-item" ><small><cb-cm:contentView name="categorie" view="vue_liste_categorie"/></small></a>
            </div>-->
            <a href="" class="list-group-item" sec:authorize="isAnonymous()">Connexion</a>
            <a href="" class="list-group-item" sec:authorize="isAnonymous()">Inscription</a>
        </div>
    </div>
</div>