<div th:fragment="navigation" >

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img style = "margin : 10px 10px 10px 10px" width="250" th:src="@{/img/logo.jpg}" />
            </div>
            <div class="col-sm-9">
                <h1 style = "margin-top : 55px;">Bibliothèque de Trou-perdu-en-Isère</h1>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse" role="navigation" style="background : #7495ff;color : white;border-color : #7495ff">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="menu">
                    <li class="nav-item" id="accueil" sec:authorize="isAnonymous()">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/home}">Accueil</a>
                    </li>
                    <li id="horaire">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/hours}">Horaire</a>
                    </li>
                    <li id="reglement">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/rules}">Réglements</a>
                    </li>
                    <li id="livres" sec:authorize="isAuthenticated()">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/book}">Nos livres</a>
                    </li>
                    <li id="profil" sec:authorize="isAuthenticated()">
                        <a data-toggle="popover" data-placement="bottom" data-content="Un livre a été ajouté !" role="button" class="btn btn-outline-primary element-navbar" th:href="@{/account}">Mon compte</a>
                    </li>
                    <li id="deconnexion" sec:authorize="isAuthenticated()">
                    <a role="button" class="btn btn-outline-primary element-navbar">Deconnexion</a>
                    </li>
                    <li class="submenu" id="connection" sec:authorize="isAnonymous()">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/login}">Connexion</a>
                    </li>
                    <li class="submenu" id="inscription" sec:authorize="isAnonymous()">
                        <a role="button" class="btn btn-outline-primary element-navbar" th:href="@{/register}">S'inscrire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="popover_content_wrapper" style="display :none">
        Un livre a été ajouté !
    </div>
    <script>
        $('#profil').popover({
		   		container: 'body',
		   		selector: '#buttonReserved',
		   		html : true,
		      content: function() {
		        alert("echo");
		        return $('#popover_content_wrapper').html();
		      }
		   	});
    </script>
</div>