<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>

<form action="#" th:action="@{/bo/category/create}" th:object="${category}" method="post">
  <div class="form-group">
    <label for="inputLabel">Label de la catégorie</label>
    <input type="text" class="form-control" id="inputLabel" placeholder="Label" th:field="*{label}" />
  </div>
  <button type="submit" class="btn btn-primary">Créer</button>
</form>

<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>