<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>

<div class="container" style="margin-top:15px;">
    <div class="row">
        <div class="col-md-3">
            <div lang="en" th:include="fragments/navigation-left :: navigation-left"></div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom du livre</th>
                        <th>Date de parution</th>
                        <th></th>
                        <th>Disponibilité</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${infos.books}">
                        <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.title}"></a></th>
                        <th th:text="${book.parutionDate}"></th>
                        <th><img th:src="@{'data:image/jpeg;base64,'+ ${book.image}}" alt="Image Livre" height="100"/></th>
                        <th th:text="${book.state}" th:id="'state_' + ${book.id}"></th>
                        <th><a th:if="${book.state.name() == 'FREE'}" role="button" class="btn btn-primary btn-sm" th:id="'borrow_' + ${book.id}" th:onclick="${'borrowBook(' + book.id + ');'}">RESERVER</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function borrowBook(id) {
            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : "http://localhost:8080/bo/book/borrow/"+id,
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS");
                    $("#state_"+id).text("RESERVED");
                    $("#borrow_"+id).remove();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }
    </script>
    <div lang="en" th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>