<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>

<div class="container" style="margin-top:15px;">
    <div class="row">
        <div class="col-md-3">
            <div lang="en" th:include="fragments/navigation-left :: navigation-left"></div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom du livre</th>
                        <th>Date de parution</th>
                        <th></th>
                        <th>Disponibilité</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${infos.books}">
                        <th><a th:href="@{'/book/' + ${book.id}}" th:text="${book.title}"></a></th>
                        <th th:text="${book.parutionDate}"></th>
                        <th><img th:src="@{'data:image/jpeg;base64,'+ ${book.image}}" alt="Image Livre" height="50"/></th>
                        <th th:text="${book.state}"></th>
                        <th><a role="button" href="" class="btn btn-primary btn-sm">RESERVER</a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div lang="en" th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>