<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>

<div class="container" style="margin-top:15px;">
    <div class="row">
        <div class="col-sm-6">
            <table>
                <tr th:each="category : ${infos.categories}">
                    <td th:text="${category.label}"></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table>
                <tr th:each="book : ${infos.books}">
                    <td th:text="${book.title}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>