<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>


<div class="container">
    <a role="buttton" th:href="@{/bo/book/create}" class="btn btn-primary btn-sm">Ajouter un livre</a>
    <a role="buttton" th:href="@{/bo/category/create}" class="btn btn-primary btn-sm">Ajouter une catégorie</a>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Les livres</div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titre</th>
                                <th>Date de parution</th>
                                <th>Catégorie</th>
                                <th>Etat</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="book : ${infos.books}" th:id="'book_' + ${book.id}">
                                <th th:text="${book.id}">...</th>
                                <th th:text="${book.title}">...</th>
                                <th th:text="${book.parutionDate}">...</th>
                                <th th:text="${book.category.label}">...</th>
                                <th th:text="${book.state}">...</th>
                                <th>
                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{'/bo/book/' + ${book.id}}">Détail</a>
                                    <a role="button" class="btn btn-danger btn-sm" th:onclick="${'deleteBook(' + book.id + ');'}">Supprimer</a>
                                    <a role="button" class="btn btn-success btn-sm" th:href="@{'/bo/book/update/' + ${book.id}}">Modifier</a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Les catégories</div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Label</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${infos.categories}" th:id="'category_' + ${category.id}">
                            <th th:text="${category.id}">...</th>
                            <th th:text="${category.label}">...</th>
                            <th>
                                <a role="button" class="btn btn-danger btn-sm" th:onclick="${'deleteCategory(' + category.id + ');'}">Supprimer</a>
                                <a role="button" class="btn btn-success btn-sm" th:href="@{'/bo/category/update/' + ${category.id}}">Modifier</a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="panel" style="border: 1px solid #e07600;">
                <div class="panel-heading" style="font-color:white; background-color:#e07600; border-color:#e07600">Données du site</div>
                <div class="panel-body">

                    <div class="row" style="margin-left:15px">
                            <div class="row">
                                <div class="col-md-3">
                                    Message d'accueil du site
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" th:text="${homepage}" id="home"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a role="button" href="#" class="btn btn-primary" onclick="updateMetaData('home')">Modifier</a>
                                </div>
                            </div>
                    </div>
                    <br/><br/>
                    <div class="row" style="margin-left:15px">
                            <div class="row">
                                <div class="col-md-3">
                                    Réglements
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" th:text="${rules}" id="rules"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a role="button" href="#" class="btn btn-primary" onclick="updateMetaData('rules')">Modifier</a>
                                </div>
                            </div>
                    </div>

                    <br/><br/>
                    <div class="row" style="margin-left:15px">
                            <div class="row">
                                <div class="col-md-3">
                                    Horaires
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" th:text="${openHours}" id="hours"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a role="button" href="#" class="btn btn-primary" onclick="updateMetaData('hours')">Modifier</a>
                                </div>
                            </div>
                    </div>

                    <br/><br/>
                    <div class="row" style="margin-left:15px">
                        <div class="row">
                            <div class="col-md-3">
                                CGU
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" th:text="${cgu}" id="cgu"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a role="button" href="#" class="btn btn-primary" onclick="updateMetaData('cgu')">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function deleteBook(id) {
    $.ajax({
        type : "DELETE",
        contentType : "application/json",
        url : "http://localhost:8080/bo/book/delete/"+id,
        dataType : 'json',
        timeout : 100000,
        success : function(data) {
            console.log("SUCCESS");
            $("#book_"+id).remove();
        },
        error : function(e) {
            console.log("ERROR: ", e);
        },
        done : function(e) {
            console.log("DONE");
        }
    });
}

function deleteCategory(id) {
    $.ajax({
        type : "DELETE",
        contentType : "application/json",
        url : "http://localhost:8080/bo/category/delete/"+id,
        dataType : 'json',
        timeout : 100000,
        success : function(data) {
            console.log("SUCCESS");
            $("#category_"+id).remove();
        },
        error : function(e) {
            console.log("ERROR: ", e);
        },
        done : function(e) {
            console.log("DONE");
        }
    });
}

function updateMetaData(metadata) {
    var data = {};
    data["data"] = $("#"+metadata).val();
    data["key"] = metadata;
    $.ajax({
        type : "PUT",
        contentType : "application/json",
        url : "http://localhost:8080/bo/metadata",
        data : JSON.stringify(data),
        dataType : 'json',
        timeout : 100000,
        success : function(data) {
            console.log("SUCCESS");
        },
        error : function(e) {
            console.log("ERROR: ", e);
        },
        done : function(e) {
            console.log("DONE");
        }
    });
}
</script>
<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>